<div class="col-sm-12" style="margin-bottom: 20px;">
    <div class="card mb-12 border-left-danger">
        <div class="card-header">
            <img class="img-profile rounded-circle" src="/assets/account.png" style="width: 30px; height: 30px;">
            <span>&nbsp;{{driver.name}}</span>
        </div>
        <div class="card-body">
            <section class="landing">
                <div class="container">
                  <dl class="row">
                    <dt class="col-sm-4">TELEFONE</dt>
                    <dd class="col-sm-8">{{driver.phoneNumber}}</dd>
                  </dl>

                  <dl class="row">
                    <dt class="col-sm-4">INÍCIO</dt>
                    <dd class="col-sm-8">05/05/2020</dd>
                  </dl>

                  <dl class="row">
                    <dt class="col-sm-4">FIM</dt>
                    <dd class="col-sm-8">10/05/2020</dd>
                  </dl>
                </div>
              </section>
        </div>
    </div>
</div>